@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

:root {

    /* Colors */
    --color-primary: #304FFE;
    --color-primary-shadow-1: #1A237E;
    --color-primary-shadow-2: #283593;
    --color-primary-shadow-3: #303F9F;
    --color-primary-light-1: #8C9EFF;
    --color-primary-light-2: #536DFE;
    --color-primary-light-3: #3D5AFE;

    --color-secondary: #00B8D4;
    --color-secondary-shadow-1: #006064;
    --color-secondary-shadow-2: #00838F;
    --color-secondary-shadow-3: #0097A7;
    --color-secondary-light-1: #18FFFF;
    --color-secondary-light-2: #4DD0E1;
    --color-secondary-light-3: #26C6DA;

    --color-accent: #AA00FF;
    --color-accent-shadow-1: #4A148C;
    --color-accent-shadow-2: #6A1B9A;
    --color-accent-shadow-3: #7B1FA2;
    --color-accent-light-1: #EA80FC;
    --color-accent-light-2: #E040FB;
    --color-accent-light-3: #D500F9;

    /* Fonts */
    --font-h1-size: 42px;
    --font-h2-size: 34px;
    --font-h3-size: 30px;
    --font-h4-size: 26px;
    --font-h5-size: 24px;
    --font-h6-size: 22px;
    --font-paragraph-size: 16px;

    /* Borders */
    --border-radius-button: 10px;
    --border-radius-card: 15px;

    /* Cards */ 
    --card-width: 300px;
    --card-height: 30%;
    --card-image-height: 52%;
    --card-label-height: 8%;
    --card-button-height: 12%;

    /* Shadows */
    --shadow-button: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

/* Global */

.none {
    display: none;
}

h5 {
    font-size: var(--font-h5-size);
}

body {
    border: 0;
    background-color: var(--color-primary-shadow-2);
}

a:link {
    text-decoration: inherit;
    color: inherit;
}

a:visited {
    text-decoration: inherit;
    color: inherit;
}

.cursor-pointer {
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: row;
}

.w-100 {
    width: 100%;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.d-flex {
    display: flex;
}

.mb-3 {
    margin-bottom: 16px;
}

.btn-nav {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 4%;
}

.btn-nav .icon {
    fill: white;
    margin-right: 8px;
}

/* Nav*/

nav {
    width: 100%;
    padding: 8px 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
    height: 8%;
    background-color: var(--color-primary);
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
}

.nav-button-group {
    display: none;
    justify-content: flex-end;
    width: 650px;
}

.nav-button-group button {
    margin-left: 1%;
    margin-right: 1%;
}

.nav-button-group button:first-of-type {
    margin-left: 0;
}

.nav-button-group button:last-of-type {
    margin-right: 0;
}

.searchbar {
    margin-left: 8px;
    display: none;
    position: relative;
}

.searchbar input {
    width: 100%;
    padding: 1% 5%;
    height: 33px;
    background-color: var(--color-primary-shadow-1);
    border: none;
    border-radius: 100px;
    color: white;
}

.searchbar input::placeholder {
    color: var(--color-primary-light-1);
}

.search-icon {
    left: 85%;
    transform-origin: center;
    cursor: pointer;
    position: absolute;
    top: 8px;
    fill: var(--color-primary-light-1);
}

.icon-h5 {
    min-width: var(--font-h5-size);
    max-width: var(--font-h5-size);
    min-height: var(--font-h5-size);
    max-height: var(--font-h5-size);
}

.icon {
    min-width: 16px;
    max-width: 16px;
    min-height: 16px;
    max-height: 16px;
}


/* Sidebar */

.sidebar {
    position: fixed;
    width: 80%;
    left: -80%;
    height: 100%;
    top: 0;
    color: white;
    transition: left 300ms ease-in-out;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    padding: 4% 0 4% 4%;
    background-color: var(--color-primary-shadow-3);
}

.background-sidebar-menu {
    position: fixed;
    top: 0;
    left: -100%;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.699);
    opacity: 0;
    transition: opacity 300ms;
}

.background-sidebar-menu.open {
    left: 0;
    opacity: 1;
}

.sidebar.open {
    left: 0;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.sidebar ul::before {
    content: '';
    background-color: var(--color-primary-shadow-1);
    height: 1px;
    margin-bottom: 16px;
}

.sidebar ul li svg {
    fill: var(--color-secondary);
}

.sidebar ul li {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.sidebar ul li span {
    margin-left: 8px;
}

.account {
    margin-top: 16px;
    padding-right: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account .profile {
    width: 40px;
    height: 40px;
    background-color: var(--color-secondary);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account .profile svg {
    fill: white;
}

.account .profile, .account h6 {
    margin-bottom: 8px;
}

/* Logo */

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo, .nav-hamburger-logo {
    width: 100%;
}

.logo img {
    margin-right: 10px;
}

.logo h5 {
    white-space: nowrap;
    color: white;
    margin: 0;
    font-weight: bolder;
    text-shadow: #000 0px 0px 3px,   #000 0px 0px 3px,   #000 0px 0px 3px,
             #000 0px 0px 3px,   #000 0px 0px 3px,   #000 0px 0px 3px;
}

.container {
    width: 100%;
    padding: 30px 3%;
    overflow-x: hidden;
}

/* Footer */

footer {
    height: 422px;
    background-color: var(--color-primary-shadow-1);
}



/* ----- Cards ----- */

.category {
    width: 100%;
    margin-bottom: 32px;
}

.category-title {
    color: white;
    font-size: var(--font-h5-size);
    font-weight: bold;
    margin-bottom: 16px;
}

.carousel {
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    overflow-x: scroll;
    overflow-y: hidden;
}

.carousel .card {
    color: white;
    min-width: 300px;
    max-width: 300px;
    min-height: var(--card-height);
    background-color: var(--color-primary-light-1);
    border-radius: var(--border-radius-card);
    margin: 0 0.75% 0;
}

.carousel .card:first-of-type {
    margin-left: 0;
}

.carousel .card:last-of-type {
    margin-right: 0;
}

.carousel .card-image {
    display: inherit;
    width: 100%;
    height: var(--card-image-height);
    border-radius: var(--border-radius-card) var(--border-radius-card) 0 0;
    object-fit: fill;
}

.card-label {
    text-align: center;
    padding-top: 1%;
    height: var(--card-label-height);
    font-size: var(--font-paragraph-size);
}

.card-free-label {
    background-color: var(--color-secondary-shadow-3);
}

.card-premium-label {
    background-color: var(--color-accent-shadow-3);
}

.card-next-label {
    background-color: var(--color-primary);
}

.card-title {
    margin: 3% 3.5% 2% 3.5%;
    font-size: var(--font-h6-size);
}

.card-subtitle {
    margin: 2% 3.5% 3% 3.5%;
    font-size: var(--font-paragraph-size);
}

/* Botones */

.btn {
    color: white;
    border: 0;
    width: 93%;
    height: var(--card-button-height);
    border-radius: var(--border-radius-button);
    margin: 2% 3.5% 3.5% 3.5%;
    font-size: var(--font-paragraph-size);
    box-shadow: 1px 5px 10px var(--color-primary-shadow-1);
    cursor: pointer;
    transition: all 0.5s ease;
}

.btn:hover,
button:hover {
    outline: 0;
}

.btn:active,
button:active {
    outline: 0;
}

.btn-slide-left {
    background: linear-gradient(to left, transparent 50%, #333 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.btn-slide-left:hover {
    background-position: left bottom;
}

.btn-primary {
    padding: 0.7em 1.5em;
    border: none;
    background: linear-gradient(to bottom, var(--color-primary-light-1) 50%, var(--color-primary-shadow-3) 50%);
    background-size: 100% 200%;
    background-position: left top;
}

.btn-primary:hover {
    background-position: right bottom;
}

.btn-secondary {
    padding: 0.7em 1.5em;
    border: none;
    background: linear-gradient(to left, var(--color-secondary) 50%, var(--color-secondary-shadow-1) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.btn-secondary:hover {
    background-position: left bottom;
}

.btn-accent {
    padding: 0.7em 1.5em;
    border: none;
    background: linear-gradient(to right, var(--color-accent) 50%, var(--color-accent-shadow-1) 50%);
    background-size: 200% 100%;
    background-position: left bottom;
}

.btn-accent:hover {
    background-position: right bottom;
}

/* Loading */

.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.spinner {
    border: 8px solid rgba(0, 0, 0, 0.3);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border-left-color: var(--color-secondary-light-1);
    animation: spin 1s ease infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#progress {
    margin-top: 1%;
    color: var(--color-secondary);
}

/* Responsive */

@media (min-width: 940px) {
    .container {
        padding: 80px 3%;
    }

    .logo, .nav-hamburger-logo {
        width: fit-content;
    }

    nav {
        height: 9vh;
        justify-content: space-between;
        z-index: 1;
        position: fixed;
    }

    .sidebar .account {
        visibility: hidden;
    }

    .sidebar.open .account {
        visibility: visible;
    }

    .sidebar {
        position: sticky;
        height: 92vh;
        overflow-y: hidden;
        width: 53px;
        left: 0;
        top: 50px;
        padding: 16px 0 16px 16px;
        transition: width 300ms ease-in-out;
        box-shadow: var(--shadow-button);
    }

    .sidebar.open {
        width: 20%;
    }

    .sidebar ul:first-of-type {
        margin-top: 16px;
    }

    .sidebar ul {
        margin-bottom: 8px;
    }

    .close-sidebar-button {
        display: none;
    }

    .sidebar ul li span, .sidebar ul::before {
        visibility: hidden;
        transition: visibility 50ms;
    }

    .sidebar.open ul li span, .sidebar.open ul::before {
        visibility: visible;
    }

    .searchbar {
        display: flex;
    }

    .nav-button-group {
        display: flex;
    }

    .logo {
        margin-left: 16px;
        justify-content: flex-start;
    }

    .carousel {
        overflow-x: hidden;
    }
}

@media (min-width: 1130px) {
    .searchbar {
        min-width: 350px;
    }

    .search-icon {
        left: 92%;
    }
}